*{
    margin:0px
    padding:0px;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #ffffff;
}
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.card{
    width: 325px;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px; rgba(0, 0, 0, 0.2);
    margin: 20px;
}
.card img{
    width: 100%;
    height: alto;
    object-fit: cover;
}
.card-content{
    padding: 10px;
    color: #c51212;
    border-radius: 4px;
    
}


